<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Country</h3>
        </div>
    </div>

 <div ng-show="viewData">
        <button class="btn btn-primary btn-xs"  ng-click="viewData = !viewData"><i class="fa fa-plus"></i> Add</button>
    </div>
    <div ng-hide="viewData">
        <button class="btn btn-success btn-xs" ng-click="viewData = !viewData"><i class="fa fa-arrow-left"></i> View All</button>
    </div>
    <br />

    <div class="panel panel-default" ng-hide="viewData">
                        <div class="panel-heading"> Add New Counttry </div>
                        <div class="panel-body">
                           <div class="row">

                           <form ng-submit="addNewCountry()"  name="newCountryFrom" novalidate >
                            <div class="col-lg-4">
                            <div class="form-group">
                                <label>Country Name</label>
                                <input type="text" ng-model="coun.name" name="cname" ng-required="true" class="form-control" placeholder="Enter Country Name" ng-pattern="/^[A-z]+$/">
                                <p class="__errorMsg" ng-show="newCountryFrom.cname.$touched && newCountryFrom.cname.$invalid ">
                                    <span ng-show="newCountryFrom.cname.$error.required">*Country name is required.</span>
                                    <span ng-show="newCountryFrom.cname.$error.pattern">*Please enter valid country name.</span>
                                </p> 
                            </div>
                            
                            </div>
                             <div class="col-lg-4"> 
                                <label>Status</label>
                                <select class="form-control" ng-required="true" name="status" ng-model='coun.status'>
                                <option>--Select--</option>
                                <option value="true">Active</option>
                                <option value="false">De-Active</option>
                                </select>
                                <p class="__errorMsg" ng-show="newCountryFrom.status.$touched && newCountryFrom.status.$invalid ">
                                    <span ng-show="newCountryFrom.status.$error.required">*Please Enter State Name.</span>
                                </p> 
                            </div>
                            <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-success"  >Add</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                            </div>
                           </form> 
                           </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
    </div>

    
    <div class="panel panel-default" ng-show="viewData">
                        <div class="panel-heading">
                            Country list
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                            <div class="col-sm-12">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 161px;">Country Name</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 196px;">Country Code</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 179px;">is_Active</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 179px;">Actions</th>  </tr>
                                </thead>
                                <tbody> 
                                    <tr class="gradeA odd" role="row" ng-repeat="x in countryList">
                                        <td class="sorting_1">{{x.c_name}}</td>
                                        <td>{{x.c_code}}</td>
                                        <td>{{x.metadata.is_active | statusName}}</td>
                                        <td class="center"><i class="fa fa-pencil" data-toggle="modal" data-target="#myModal" ng-click="editCountry(x)"></i>&nbsp;&nbsp;<i class="fa fa-trash" ng-click="deleteConfirmation(x._id)"></i></td> 
                                    </tr></tbody>
                            </table></div></div></div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>

<div class="alert alert-success"  ng-show="successPop">
    <strong>Success!</strong> {{successMsg}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div>
  <div class="alert alert-danger" ng-show="errorPop">
    <strong>Error!</strong> {{errorMsg}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div>

<!-- Modal -->
<div class="modal c" ng-show="deleteConfirmationModal">
<div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
        <p>You really want to delete this user?</p>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="deleteCountry()">Yes</button>
      <button type="button" class="btn btn-default" ng-click="deleteConfirmationModal =!deleteConfirmationModal">No</button>
    </div>
    </div> 
</div>
</div>

<style>
.c{
    display:block;
}
</style>

<!--Edit Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <form name="updateCountryForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Country </h4>
      </div>
      <div class="modal-body">
        
            <input type="text" class="form-control" ng-model="eData.c_name"/><br />
            
            <select ng-model="eData.metadata.is_active" class="form-control">

                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" ng-click="updateCountry(eData)">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
</div>