<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Packages</h3>
        </div>
    </div>

<div ng-show="viewData">
    <button class="btn btn-primary btn-xs"  ng-click="viewData = !viewData"><i class="fa fa-plus"></i> Add</button>
</div>
<div ng-hide="viewData">
	<button class="btn btn-success btn-xs" ng-click="viewData = !viewData"><i class="fa fa-arrow-left"></i> View All</button>
</div>
<br />

<div class="panel panel-default" ng-hide="viewData">
	<div class="panel-heading"><u><b> Add Package</b></u> </div>
    	<div class="panel-body">
        	<div class="row">
            	<form  name="addNewPackageForm" novalidate enctype="multipart/form-data">
            		<div class="section">
            		<div class="col-md-6">
                     <div class="form-group">
                            <label>Type</label>
                            <div >
                                <select  class="form-control" name="type" ng-model="pack.type"> 
                                    <option ng-repeat="x in packageTypes" value="{{x.code}}-{{x.name}}">{{x.name}}</option>
 
                                </select>
                            </div>
                             <p class="__errorMsg" ng-show="addNewPackageForm.type.$touched && addNewPackageForm.type.$invalid">
                              <span ng-show="addNewPackageForm.type.$error.required">*Please select package type</span>
                            </p> 
                        </div> 
            			<div class="form-group">
                            <label>Country</label>
                                <select class="form-control" ng-required="true" name="country" ng-model="pack.country" ng-change="getStateList(pack.country)">  
                                    <option ng-repeat="x in countryList" value="{{x.c_code}}-{{x.c_name}}">{{x.c_name}}</option>
                            	</select>
                                 <p class="__errorMsg" ng-show="addNewPackageForm.country.$touched && addNewPackageForm.country.$invalid ">
                                  	<span ng-show="addNewPackageForm.country.$error.required">*Please select country</span>
                                </p>
                        </div>
                        <div class="form-group">

                        	<label>City</label>
                                <select class="form-control" ng-required="true" name="city" ng-model="pack.city"> 
                                    <option ng-repeat="x in cityList" value="{{x.ci_code}}-{{x.ci_name}}">{{x.ci_name}}</option>
                                </select>
                                 <p class="__errorMsg" ng-show="addNewPackageForm.city.$touched && addNewPackageForm.city.$invalid ">
                                  <span ng-show="addNewPackageForm.city.$error.required">*Please select City.</span>
                                </p>
						</div>
                         
            		</div>

            		<div class="col-md-6">
                     <div class="form-group">
                            <label>Category</label>
                            <div >
                                <select class="form-control"  name="type" ng-model="pack.category" > 
                                    <option ng-repeat="x in catData" value="{{x.cat_code}}-{{x.cat_name}}">{{x.cat_name}}</option>
                                </select>
                            </div>
                             <p class="__errorMsg" ng-show="showHighlightError">
                              <span>*Please select package Category</span>
                            </p> 
                            </div> 
            			<div class="form-group">

                            <label>State</label> 
                               <select class="form-control"  ng-required="true" name="state" ng-model="pack.state" ng-change="getCityByState(pack.state)"> 
                                  <option ng-repeat="x in stateList" value="{{x.s_code}}-{{x.s_name}}">{{x.s_name}}</option>
                                </select>
                                <p class="__errorMsg" ng-show="addNewPackageForm.state.$touched && addNewPackageForm.state.$invalid ">
                                    <span ng-show="addNewPackageForm.state.$error.required">*Please select state</span>
                                </p>
                        </div>
                        <div class="form-group">
                                <label>Source City</label> 
                                <select class="form-control" ng-model="pack.sourceCity" name="sourceCity" required> 
                                    <option ng-repeat="x in sourceCity" value="{{x.code}}-{{x.name}}">{{x.name}}</option> 
                                </select>
                                <p class="__errorMsg" ng-show="addNewPackageForm.sourceCity.$touched && addNewPackageForm.sourceCity.$invalid ">
                                  <span ng-show="addNewPackageForm.sourceCity.$error.required">*Please select Source City.</span>
                                </p>
                        </div> 

            		</div>
            		</div>

            		<div class="divider"></div>
                	
                <div class="section">
                	<div class="col-lg-6">
						 <div class="form-group">
                            <label>Package Title</label>
                            <input type="text" ng-model="pack.title"  name="title" ng-required='true'  class="form-control" ng-pattern="/^[a-zA-Z0-9-_ ]*$/" placeholder="Enter Package Title">
                            <p class="__errorMsg" ng-show="addNewPackageForm.title.$touched && addNewPackageForm.title.$invalid ">
                              <span ng-show="addNewPackageForm.title.$error.required">*Title is required.</span>
                              <span ng-show="addNewPackageForm.title.$error.pattern">*Enter valid title.</span>
                            </p>
                        </div> 
                        <div class="form-group">
                            <label>Main Image</label>
                             <input type="file" ngf-multiple="false" ngf-select ng-model="mainImageFile" name="file"  
             accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" class="form-control">  
                             <p class="info-text">*Please upload 360*225 px size image.</p>
                             <p class="__errorMsg" ng-show="addNewPackageForm.file.$touched && addNewPackageForm.file.$invalid ">
                              <span ng-show="addNewPackageForm.file.$error.required">*Main Image is required.</span>
                            </p>
                          </div>
                          <div class="form-group">
                            <label>Package Images</label>
                             <input type="file" ngf-multiple="true" ngf-select ng-model="imagesFile" name="file"  
             accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile" class="form-control"> 
                             <p class="info-text">*You can choose multiple images.</p>
                             <p class="__errorMsg" ng-show="addNewPackageForm.file.$touched && addNewPackageForm.file.$invalid ">
                              <span ng-show="addNewPackageForm.file.$error.required">*Images are required.</span>
                            </p>
                          </div>
                    </div> 

					<div class="col-lg-6">   
                          <div class="form-group">
                            <label>Rate</label>
                            <input type="number" class="form-control" placeholder="Enter Rate in Rupees" ng-model="pack.rate" name="rate" required /> 
                             <p class="__errorMsg" ng-show="addNewPackageForm.rate.$touched && addNewPackageForm.file.$invalid">
                              <span ng-show="addNewPackageForm.rate.$error.required">*Rate is required.</span>
                            </p>
                          </div>
                        <div class="form-group">
                            <div class="row">
                            	<div class="col-md-6">
                            		<div class="form-group">
                            			<label>Days</label>
                            			<input  type="number" placeholder="Enter Days in Number" class="form-control" min="1" ng-model="pack.days" required name="days" />
                                          <p class="__errorMsg" ng-show="addNewPackageForm.days.$touched && addNewPackageForm.days.$invalid ">
                              <span ng-show="addNewPackageForm.days.$error.required">*Package Days is required.</span>
                            </p>
                            		</div>
                            	</div>
                            	<div class="col-md-6">
                            		<div class="form-group">
                            			<label>Nights</label>
                            			<input type="number" class="form-control" placeholder="Enter Nights in Number" min="1" required ng-model="pack.nights" name="nights" />
                                          <p class="__errorMsg" ng-show="addNewPackageForm.nights.$touched && addNewPackageForm.nights.$invalid ">
                              <span ng-show="addNewPackageForm.nights.$error.required">*Package Nights is required.</span>
                            </p>
                            		</div>
                            	</div>
                            </div>
                        </div>

                     	</div>
                     </div>
                     <div class="divider"></div>

                     <div class="section">
                     	<div class="col-md-6"> 
                     		<div class="form-group">
                     		<label>Highlights</label>
                     		<div style="display: flex">
	                     		<input type="text" class="form-control" ng-model="pack.highlightsTitle" name="highlightsTitle"  >
	                     		<button class="btn btn-primary" ng-click="addmorehighlights()">+</button>
                     		</div>
                             <p class="__errorMsg" ng-show="showHighlightError">
                              <span>*{{showHighlightErrorMsg}}</span>
                            </p>
                     		<ul class="info-text">
                     			<li ng-repeat="x in pack.highlights">{{x.title}}&nbsp;<a href="javascript:void(0)" style="color:red" ng-click="removeHighlights(x, $index)">X</a></li>
                     		</ul>
                     		</div> 
 

                     		
                     	</div>
                     	<div class="col-md-6">
                     		 <div class="form-group" style="position: relative;">
                            <label>Inclusions</label>
                            <input type="text" class="form-control" ng-model="selectedIncModel" ng-click="_inclusionList=!_inclusionList" readonly="true" name="inclusions">
                            <p class="__errorMsg" ng-show="showInclusionsError">
                              <span ng-show="addNewPackageForm.inclusions.$error.required">*Inclusions are required.</span>
                            </p>
                            <div class="" ng-show="_inclusionList" style="background: #fff;z-index: 9;top: 59px;border: 1px solid #ddd; position:absolute; width:100%">
                              <ul>
                                <li ng-repeat="x in incList" style="cursor: pointer;" ng-click="selectInclusion(x)">{{x.i_name}}</li> 
                              </ul>
                            </div> 
                            <ul class="info-text">
                             <li ng-repeat="x in pack.selectedInclusion">{{x.i_name}} <a href="javascript:void(0)" ng-click="removeInclusion(x)">x</a></li>
                            </ul>  
                          </div>
                       
                     	</div>
                       
                     </div>
                     <div class="divider"></div>

                     <div class="section">
                     <div class="col-md-6">
                      
                         <label>Add Itenary</label>
                         <div ng-repeat="x in pack.itenary" style="margin-top:5px">
                         <div class="text-right" ng-hide="$first"><button class="btn btn-danger btn-xs" ng-click="removeItenary($index)">x</button></div>
                         <input type="text" class="form-control" placeholder="Itenary Title" name="title" ng-model="x.title"/><br />
                         <textarea rows="3" placeholder="Itenary Description" class="form-control" ng-model="x.description"></textarea> 
                         </div> 
                           <p class="__errorMsg" ng-show="itenaryError">
                              <span >*Inclusions are required.</span>
                            </p>
                         <div class="text-right"><button class="btn btn-primary" ng-click="addItenary()">+</button></div>
                     </div>
                     <div class="col-md-6">
                      <div class="form-group">
                            <label>Is this package is popular?</label>
                             <select ng-model="pack.popular" class="form-control">
                                <option value="true">Yes</option>
                                <option value="false" selected="selected">No</option>
                             </select>
                            </div> 
                        <div class="form-group">
                            <label>Add Inclusions</label>
                            <div style="display: flex">
                                <input type="text" class="form-control" ng-model="inclusionTxt" name="inclusionTxt"  >
                                <button class="btn btn-primary" ng-click="addmoreInclusions()">+</button>
                            </div>
                            <ul class="info-text">
                                <li ng-repeat="x in pack.inclusionList">{{x}}&nbsp;<a href="javascript:void(0)" ng-click="removeInclusionList(x)" style="color:red">X</a></li>
                            </ul>
                            </div> 
                            <br />
                        <div class="form-group">
                            <label>Add Exclusions</label>
                            <div style="display: flex">
                                <input type="text" class="form-control" ng-model="excluionTxt" name="excluionTxt"  >
                                <button class="btn btn-primary" ng-click="addmoreExclusion()">+</button>
                            </div>
                            <ul class="info-text">
                                <li ng-repeat="x in pack.exclusionList">{{x}}&nbsp;<a href="javascript:void(0)" ng-click="removeExclusionList(x)" style="color:red">X</a></li>
                            </ul>
                            </div> 
                     </div>
                      <div class="col-md-12">
                            <div class="form-group editorr">
                            <label>Destination Overview</label>
                                <div text-angular ng-model="pack.description" ></div>
                            </div>
                        </div>
                     </div>
                     <div class="divider"></div>
                     <div class="section">
                     <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                            <label>Payment Policy</label>
                             <textarea rows="3" class="form-control" ng-model="pack.paymentPolicy" required name="paymentPolicy" required></textarea>
                             <p class="__errorMsg" ng-show="addNewPackageForm.paymentPolicy.$touched && addNewPackageForm.paymentPolicy.$invalid ">
                              <span ng-show="addNewPackageForm.paymentPolicy.$error.required">*Field is required.</span> 
                            </p>
                            </div> 
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                            <label>Cancellation Policy</label>
                             <textarea rows="3" class="form-control" ng-model="pack.cancellationPolicy" required name="cancellationPolicy" required></textarea>
                             <p class="__errorMsg" ng-show="addNewPackageForm.title.$touched && addNewPackageForm.title.$invalid ">
                              <span ng-show="addNewPackageForm.cancellationPolicy.$error.required">*Field is required.</span> 
                            </p>
                            </div> 
                        </div>
                         <div class="col-md-4">
                            <div class="form-group">
                            <label>Other Policy(optional)</label>
                             <textarea rows="3" class="form-control" ng-model="pack.otherPolicy" name="otherPolicy" ></textarea>
                            </div> 
                        </div>
                     </div>
                     </div>
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-success" ng-click="saveNewPackage(mainImageFile,imagesFile)">Add</button>
                            <button type="reset" ng-click="resetAll()" class="btn btn-default">Reset</button>
                            </div>
                           </form> 
                   </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
    </div>

    <div ng-show="viewData">
    <div class="panel panel-default" ng-show="viewData">
                        <div class="panel-heading">
                            <div class="row">
                            <div class="col-md-4"><u><b>View added packages</b></u></div>
                            <div class="col-md-8">
                            <div class="pull-right">
                                <input type="search" ng-model="searchPack" class="form-control" placeholder="Search Packages">
                                    
                                </div></div>
                            </div>
                        </div> 
                        <div class="panel-body">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                            <div class="col-sm-12"> 
                               <table width="100%" class="table table-striped table-bordered table-hover">
                               <thead>
                                   <tr>
                                        <td><b>Id</b></td>
                                        <td><b>Title</b></td>
                                        <td><b>Date</b></td>
                                        <td><b>Added By</b></td>
                                        <td><b>Action</b></td>
                                   </tr>
                               </thead>
                               <tbody>
                                <tr ng-repeat="x in packData.packages | filter:searchPack">
                                    <td>{{x._id | splitId}}</td>
                                    <td><a href="#!/package-details?packageId={{x._id}}">{{x.title}}</a></td>
                                    <td>{{x.metadata.created_at | date:'dd-MM-yyyy, hh:mm'}}</td>
                                    <td>{{x.metadata.created_by.name}}</td>
                                    <td>Edit</td>
                                </tr>
                               </tbody>
                               </table>
                             </div>
                             </div>
                             </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
    </div>
</div>

<div class="alert alert-success"  ng-show="successPop">
    <strong>Success!</strong><br/> {{successMsg}}
    <a class="close"  ng-click="successPop=!successPop">×</a>
  </div>
  <div class="alert alert-danger" ng-show="errorPop">
    <strong>Error!</strong><br /> {{errorMsg}}
    <a class="close" ng-click="errorPop = !errorPop" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div>