<div id="page-wrapper">
<div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Users Management</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
  <div ng-show="viewData" ng-if="loggedInUser.permissions.users.add">
        <button class="btn btn-primary btn-xs"  ng-click="toggelView()"><i class="fa fa-plus"></i> Add</button>
    </div>
    <div ng-show="!viewData" ng-if="loggedInUser.permissions.users.add">
        <button class="btn btn-success btn-xs" ng-click="toggelView()"><i class="fa fa-arrow-left"></i> View All</button>
    </div>
    <br />

<div class="panel panel-default" ng-hide="viewData">
                        <div class="panel-heading"><u><b> Add New User</b></u> </div>
                        <div class="panel-body">
                           <div class="row">
                           <form ng-submit="addNewUser()" name="addnewUserForm" novalidate>
                            <div class="col-lg-6">
                            <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" ng-model="user.firstname" ng-pattern="/^[a-zA-Z ]*$/" name="fname" class="form-control" placeholder="Enter First Name" required>
            <p class="__errorMsg" ng-show="addnewUserForm.fname.$touched && addnewUserForm.fname.$invalid ">
                <span ng-show="addnewUserForm.fname.$error.required">FirstName is required.</span>
                <span ng-show="addnewUserForm.fname.$error.pattern">Enter valid FirstName.</span>
            </p>
                                        </div>
                            <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" ng-model="user.lastname" ng-pattern="/^[a-zA-Z ]*$/" name = "lname" class="form-control" placeholder="Enter Last Name" required>
                                            <p class="__errorMsg" ng-show="addnewUserForm.lname.$touched && addnewUserForm.lname.$invalid ">
                <span ng-show="addnewUserForm.lname.$error.required">LastName is required.</span>
                <span ng-show="addnewUserForm.lname.$error.pattern">Enter valid LastName.</span>
            </p>
                                        </div> 
                            <div class="form-group">
                                            <label>Email Id*</label>
                                            <input type="text" ng-model="user.email" ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" name="email" class="form-control" placeholder="Enter Email Id" required>
                                            <p class="__errorMsg" ng-show="addnewUserForm.email.$touched && addnewUserForm.email.$invalid ">
                <span ng-show="addnewUserForm.email.$error.required">Email is required.</span>
                <span ng-show="addnewUserForm.email.$error.pattern">Enter valid Email.</span>
            </p>
                                        </div>
                            <div class="form-group">
                                            <label>Mobile No*</label>
                                            <input  type="text" ng-model="user.mobile" maxlength="10" minlength="10" ng-pattern="/^\d{10}$/" class="form-control" placeholder="Enter Mobile No"  name="mobile" required>
                                            <p class="__errorMsg" ng-show="addnewUserForm.mobile.$touched && addnewUserForm.mobile.$invalid ">
            <span ng-show="addnewUserForm.mobile.$error.required">Mobile number is required.</span>
            <span ng-show="addnewUserForm.mobile.$error.pattern">Enter valid Mobile number.</span>
            <span ng-show="addnewUserForm.mobile.$error.min">Enter valid Mobile number.</span>
            <span ng-show="addnewUserForm.mobile.$error.max">Enter valid Mobile number.</span>
            </p>
                                        </div>
                            
                            <div class="form-group">

                                <label>Role</label>
                                <select ng-model="user.role" class="form-control" name="role" placeholder="Select Role" required>
                                    <option ng-repeat="x in rolesList" value="{{x.r_code}}-{{x.r_name}}">{{x.r_name}}</option> 
                                </select>
                                <p class="__errorMsg" ng-show="addnewUserForm.role.$touched && addnewUserForm.role.$invalid ">
                <span ng-show="addnewUserForm.role.$error.required">Please select a role.</span>
            </p>
                              </div>
                              <div class="form-group">
 
                                <label>Status</label>
                                <select ng-model="user.status" ng-init="user.status='true'" class="form-control">
                                    <option ng-value="true">Active</option>
                                    <option ng-value="false">De-Active</option> 
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6">
                            
                            <div class="form-group">
                                            <label>Password*</label>
                                            <input type="password" ng-model="user.password" class="form-control" placeholder="Enter Password" name="password" required>
                                            <p class="__errorMsg" ng-show="addnewUserForm.password.$touched && addnewUserForm.password.$invalid ">
                <span ng-show="addnewUserForm.password.$error.required">Password is required</span>
            </p>
                                        </div>
                            <div class="form-group">
                                            <label>Confirm Password*</label>
                                            <input type="password" ng-model="user.cnfpassword" class="form-control" placeholder="Repeat Password" ng-blur="matchPassword(user.password, user.cnfpassword)" name="cnfpassword" required>
                                            <p class="__errorMsg" ng-if="samePasswordError">*Password and confirm password does not matched.</p>
                                            <p class="__errorMsg" ng-show="addnewUserForm.cnfpassword.$touched && addnewUserForm.cnfpassword.$invalid ">
                <span ng-show="addnewUserForm.cnfpassword.$error.required">Confirm password is required</span>
            </p>
                                        </div>
                            <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" ng-model="user.address" placeholder="Enter Address" rows="4"></textarea>
                                        </div>
                            <div class="form-group">
                                            <label>Permissions</label><br />
                                            <table width="100%" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Menus</th>
                                                    <th>Add</th>
                                                    <th>View</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            <tr ng-repeat="x in da">
                                                <td>{{x.name}}</td>
                                                <td><input type="checkbox" ng-model="user.permissions[x.name].add" value=""></td>
                                                <td><input type="checkbox" ng-model="user.permissions[x.name].view" value=""></td>
                                                <td><input type="checkbox" ng-model="user.permissions[x.name].edit" value=""></td>
                                                <td><input type="checkbox" ng-model="user.permissions[x.name].delete" value=""></td>
                                            </tr>
                                            </tbody>
                                            </table>
                                             
                                        </div>
                            </div>
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-success" >Add</button>
                                        <button ng-click="resetAll()" class="btn btn-default">Reset</button>
                            </div>
                           </form>
                           </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
    </div>



<div class="panel panel-default" ng-show="viewData">
                        <div class="panel-heading"><u><b>User List</b></u></div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                            <div class="col-sm-12">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 161px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 196px;">Role</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 196px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 179px;">Mobile</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 139px;">Address</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 139px;">is_Active</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 104px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody> <tr class="gradeA odd" role="row" ng-repeat="x in userData">
                                        <td class="sorting_1">{{x.firstname}} {{x.lastname}}</td>
                                        <td>{{x.role | splitName}}</td>
                                        <td>{{x.email}}</td>
                                        <td>{{x.mobile}}</td>
                                        <td class="center">{{x.address}}</td>
                                        <td class="center">{{x.metadata.is_active | statusName}}</td>
                                         <td class="center"><i class="fa fa-pencil" data-toggle="modal" data-target="#myModal" ng-click="editUser(x._id)"></i>&nbsp;&nbsp;<i class="fa fa-trash" ng-click="deleteConfirmation(x._id)"></i></td> 
                                    </tr></tbody>
                            </table></div></div><div class="row"><div class="col-sm-6"> </div> </div></div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>
<div class="alert alert-success"  ng-show="successPop">
    <strong>Success!</strong><br/> {{successMsg}}
    <a class="close"  ng-click="successPop=!successPop">×</a>
  </div>
  <div class="alert alert-danger" ng-show="errorPop">
    <strong>Error!</strong><br /> {{errorMsg}}
    <a class="close" ng-click="errorPop = !errorPop" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div>


<!-- Modal -->
<div class="modal" ng-show="deleteConfirmationModal">
<div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="deleteConfirmationModal =!deleteConfirmationModal">&times;</button>
      <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
        <p>You really want to delete this user?</p>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="deleteUser()">Yes</button>
      <button type="button" class="btn btn-default" ng-click="deleteConfirmationModal =!deleteConfirmationModal">No</button>
    </div>
    </div> 
</div>
</div>

<style>
.modal{
    display:block;
}
</style>