<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Roles</h3>
        </div>
    </div>

 <div ng-show="viewData">
        <button class="btn btn-primary btn-xs"  ng-click="viewData = !viewData"><i class="fa fa-plus"></i> Add</button>
    </div>
    <div ng-hide="viewData">
        <button class="btn btn-success btn-xs" ng-click="viewData = !viewData;fetchRoles()"><i class="fa fa-arrow-left"></i> View All</button>
    </div>
    <br />

    <div class="panel panel-default" ng-hide="viewData">
                        <div class="panel-heading"> <u><b>Add New Roles</b></u> </div>
                        <div class="panel-body">
                           <div class="row">
                           <form ng-submit="addNewRole()"  name="addNewRoles" novalidate >
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label>Role Name</label>
                                <input type="text" ng-model="role.name" name="rname" ng-pattern="/^[a-zA-Z ]*$/" ng-required="true" class="form-control" placeholder="Enter Role Name">
                                <p class="__errorMsg" ng-show="addNewRoles.rname.$touched && addNewRoles.rname.$invalid ">
                                        <span ng-show="addNewRoles.rname.$error.required">*Please enter Role.</span>
                                        <span ng-show="addNewRoles.rname.$error.pattern">*Please enter valid Role.</span>
                            </p>
                            </div>
                            
                            </div>
                            <div class="col-lg-6"> 
                                <label>Status</label>
                                <select class="form-control" name="status" ng-init="role.status=''" ng-model=role.status>
                                <option value="" disabled>--Select--</option>
                                <option value="true">Active</option>
                                <option value="false">De-Active</option>
                                </select>
                                <p class="__errorMsg" ng-show="addNewRoles.status.$touched && addNewRoles.status.$invalid ">
                                        <span ng-show="addNewRoles.status.$error.required">*Please Select Status .</span>
                            </p>
                            </div>
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-success"  >Add</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                            </div>
                           </form> 
                           </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
    </div>

    
    <div class="panel panel-default" ng-show="viewData">
                        <div class="panel-heading">
                            <u><b>Roles List</b></u>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                            <div class="col-sm-12">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 161px;">Role Name</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 196px;">Role Code</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 179px;">is_Active</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 179px;">Actions</th>  </tr>
                                </thead>
                                <tbody> 
                                    <tr class="gradeA odd" role="row" ng-repeat="x in data">
                                        <td class="sorting_1">{{x.r_name}}</td>
                                        <td>{{x.r_code}}</td>
                                        <td>{{x.metadata.is_active | statusName}}</td>
                                        <td class="center"><i class="fa fa-pencil" data-toggle="modal" data-target="#myModal" ng-click="openEditPopup(x)"></i>&nbsp;&nbsp;<i class="fa fa-trash" ng-click="deleteConfirmation(x._id)"></i></td> 
                                    </tr></tbody>
                            </table></div></div></div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
</div>

 <div class="alert alert-success"  ng-show="successPop">
    <strong>Success!</strong><br/> {{successMsg}}
    <a class="close"  ng-click="successPop=!successPop">×</a>
  </div>
  <div class="alert alert-danger" ng-show="errorPop">
    <strong>Error!</strong><br /> {{errorMsg}}
    <a class="close" ng-click="errorPop = !errorPop" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div>

   <!--Edit Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <form name="updateRoleForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Role </h4>
      </div>
      <div class="modal-body">
        <label>Role Name</label>
            <input type="text" ng-model="eData.r_name" name="rname" ng-pattern="/^[a-zA-Z ]*$/" ng-required="true" class="form-control" placeholder="Enter Role Name">
            <p class="__errorMsg" ng-show="updateRoleForm.rname.$touched && updateRoleForm.rname.$invalid ">
                    <span ng-show="updateRoleForm.rname.$error.required">*Please enter Role.</span>
                    <span ng-show="updateRoleForm.rname.$error.pattern">*Please enter valid Role.</span>
        </p>    

            <br />
            <lable>Status</lable>
            <select ng-model="eData.metadata.is_active" class="form-control" name="status">

                <option value=true>Active</option>
                <option value="false">De Active</option>
            </select>
            <p class="__errorMsg" ng-show="updateRoleForm.status.$touched && updateRoleForm.status.$invalid ">
                        <span ng-show="updateRoleForm.status.$error.required">*Please Select Status.</span>
            </p> 

        
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" ng-click="updateRole(eData)">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
</div>

<!-- Delete Modal Confirmation -->
<div class="modal c" ng-show="deleteConfirmationModal">
<div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="deleteConfirmationModal =!deleteConfirmationModal">&times;</button>
      <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
        <p>You really want to delete this state?</p>
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="deleteRole()">Yes</button>
      <button type="button" class="btn btn-default" ng-click="deleteConfirmationModal =!deleteConfirmationModal">No</button>
    </div>
    </div> 
</div>
</div>

<style>
.c{
    display:block;
}
</style>